
### Generated SSL (see Makefile `make init`; private keys stay local) ###
/config/ssl/

### Makefile / Symfony compose backups ###
/compose.yaml.symfony-bak
/compose.override.yaml.symfony-bak

### IDE / OS ###
.DS_Store
/.idea/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/public/build/
/assets/vendor/
###< symfony/asset-mapper ###

dump.sql.gz
/config/docker/ssl/
node_modules

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
